/*  Configurações basicas do site! */
@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
/* Configurações de personalizadas! */
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
