@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/
body{
    background-color:#ECC8AE;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#6C4B5E;
}
h1#principal{
    text-align: center;
    background-color:#D7907B;

}

h2{
    color:#B3679B;
}
.basico{
    color: #ff00ae;
}
.intermediario{
    color: #ff6a00;

}