@charset"UTF-8";
*{
   /* height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#228CDB,#e0fbfc);
}
main{
    background-color: white;/*Cor de Fundo*/
    width: 800px;/*largura*/
    padding:10px;/*Espaçamento*/
    margin: auto;/*Margem*/
    border-radius: 10px;/*Borda nos cantos*/
    box-shadow: 5px,5px,75px,#000000;
}

h1{
    /*Texto Principal*/
    color: #50514f;
    text-align: center;
    text-shadow: 1px,1px,2px,black;
}
h2{
    /*Textos Secunadarios*/
    color: #253237;
}

p{
    text-align: justify;
}